.rightMenu{
    text-align: left;
}
.followName{
    margin-left: auto !important;
}
.followBtn{
    border-radius: 20px !important;
}
.even{
    background-color: #d6f5f5;

}
.odd{
    background-color: #eafafa;
}
.rigthSidebar{
    width: 270px !important;
}